spring:
  application:
    name: "tools"
  datasource:
    # url: jdbc:mysql://${MYSQL_HOST:localhost}:${MYSQL_PORT:3306}/${MYSQL_DATABASE:workday}?useSSL=false&allowMultiQueries=true&serverTimezone=GMT%2b8
    # username: ${MYSQL_USERNAME:root}
    # password: ${MYSQL_PASSWORD:704B2C1C67DB348E49F581318334A457}
    url: jdbc:h2:mem:testdb
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd
  profiles:
    active: prod
  flyway:
    enabled: true
    baseline-on-migrate: true
    validate-on-migrate: true
    locations:
      - classpath:sql
    sql-migration-suffixes:
      - .sql
      
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: "default"
      paths-to-match: "/**"
      packages-to-scan: cn.zjujri.workday
logging:
  level:
    root: INFO